@page
@model Forms.Pages.AddAndDelete
@{
    ViewData["Title"] = "Add and delete";
}

<div class="container">
    <div class="row">
        <article class="col">
            All features

            <ul>
                <li>Form submission</li>
                <li>Input validation</li>
                <li>Success confirmation</li>
            </ul>
        </article>
    </div>

    <div class="row">
        <div class="col">
            <ul class="list-group">
                @foreach (var person in Model.People)
                {
                    <li class="list-group-item">
                        <div>
                            Name: @person.Name, Age: @person.Age, Is alive: @person.IsAlive
                        </div>
                        <form>
                            <button class="btn btn-danger" type="submit" asp-page-handler="DeletePerson" asp-route-id="@person.ID">Delete</button>
                        </form>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>New Person</h1>

            @if (Model.IsAdditionSuccessful)
            {
                <div>@Model.NewPerson.Name addition successful</div>
            }

            <form method="post" asp-page-handler="Person">
                <div class="mb-3">
                    <label class="form-label" asp-for="NewPerson.Name">Name</label>
                    <input class="form-control" asp-for="NewPerson.Name" />
                    <span asp-validation-for="NewPerson.Name"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="NewPerson.Age">Age</label>
                    <input class="form-control" type="number" asp-for="NewPerson.Age" />
                    <span asp-validation-for="NewPerson.Age"></span>
                </div>

                <input asp-for="NewPerson.IsAlive" type="hidden" value="true" />

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
